<table class="bossy-calendar">
	<thead class="bossy-calendar-header">
		<tr class="bossy-calendar-head">
			<td ng-click="previousMonth()" title="Previous month" class="bossy-calendar-previous"><button></button></td>
			<td colspan="5"><p>{{current.monthName}} {{current.year}}</p></td>
			<td ng-click="nextMonth()" title="Next month" class="bossy-calendar-next"><button></button></td>
		</tr>
	</thead>
	<tbody>
		<tr class="bossy-calendar-days">
			<td ng-repeat="day in days" class="bossy-calendar-days-day" title="{{day}}"><span data-abbr="{{day | limitTo : 3}}" data-full="{{day}}"></span></td>
		</tr>
		<tr ng-repeat="week in dateMap" class="bossy-calendar-week">
			<td ng-repeat="current in week" ng-click="selectDate(current.time)" class="{{current.dayInMonth}} {{current.disabledDay}} bossy-calendar-day">
				<button>
					{{current.date}}
				</button>
			</td>
		</tr>
	</tbody>
	<tfoot class="bossy-calendar-footer">
		<tr>
			<td colspan="7"><p>{{selected.day}}, {{selected.monthName}} {{selected.date}}, {{selected.year}}</p></td>
		</tr>
	</tfoot>
</table>