* {
	box-sizing: border-box;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

[class*="grid"] {
	@extend %clearfix;
	@media screen and (max-width: 480px) {
		> * + * {
			margin-top: $margin;
		}
	}
}

* + [class*="grid"] {
	margin-top: $margin;
}

[class*="grid"] {
	@extend %unstyle;
}

.grid {

	margin-left: -$gutter;
	> * {
		padding-left: $gutter;
	}

	@for $i from 0 through 50 {
		&[data-gutter="#{$i}"] {
			margin-left: -#{$i}px;
			> * {
				padding-left: #{$i}px
			}
		}
	}

	@media screen and (min-width: 480px) {
		@for $i from 2 through 12 {
			&-#{$i} {
				margin-left: -$gutter;
				> * {
					margin-bottom: $margin;
					float: left;
					padding-left: $gutter;
					width: 100%;
					max-width: percentage(1/$i)
				}
			}
		}
	}
}

.grid--pad {
	@extend .grid;
	padding: $pad;
}

[class^="col-"] {
	float: left;
	width: 100%;
	@media screen and (max-width: 480px) {
		+ [class*="col-"] {
			margin-top: $margin;
		}
	}
}

@media screen and (min-width: 480px) {
	@for $i from 1 to 12 {
		@for $j from 1 to $i {
			.col-#{$j}-#{$i} {
				width: percentage($j/$i);
			}
		}
	}
}