@import "../core/extends";
@import "../core/vars";
@import "../core/grid";

.bossy-input {
	input{
		border: 0;
		border-bottom: 1px solid #ef9c28;
		width: 100%;
		padding-left: 25px;
	}
	input:focus{
		border-bottom: 3px solid #ef9c28;
	}
	span {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #de5a42;
		position: relative;
		top: -25px;
	}
	input:focus + span {
		-webkit-animation-duration: 1s;
	    -moz-animation-duration: 1s;
	    -o-animation-duration: 1s;
	    animation-duration: 1s;
	    -webkit-animation-fill-mode: both;
	    -moz-animation-fill-mode: both;
	    -o-animation-fill-mode: both;
	    animation-fill-mode: both;
	    -webkit-animation-name: bounce;
		-moz-animation-name: bounce;
		-o-animation-name: bounce;
		animation-name: bounce;
	}
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}
	40% {-webkit-transform: translateX(-30px);}
	60% {-webkit-transform: translateX(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
	40% {-moz-transform: translateX(-30px);}
	60% {-moz-transform: translateX(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
	40% {-o-transform: translateX(-30px);}
	60% {-o-transform: translateX(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
	40% {transform: translateX(-30px);}
	60% {transform: translateX(-15px);}
}
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}
.animated.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}

bossy-form{
	padding: 10px;
	form{
		margin: 0 auto;
		padding: 25px 50px;
		width: 40%;
		min-height: 115px;
		background: #fff;
		box-shadow: 0 0 20px rgba(0,0,0,.15);
		font: 12px/15px Arial, Helvetica, sans-serif;
		color: #666;
	}
	form.green{
		border-left: 5px solid #9b2;
	}
	form.red{
		border-left: 5px solid #AE0002;
	}
}

// .bossy-calendar {
// 	width: 100%;

// 	.p {
// 		cursor: pointer;
// 	}

// 	td {
// 		padding: 4px;
// 		text-align: center;
// 	}
// 	.day-in-month {
// 		font-weight: 700;
// 	}
// 	.disabled-day {
// 		color: #ccc;
// 	}
// }

%clearfix:after {
	content: "";
	display: table;
	clear: both;
}

@import "../partials/calendar";

button {
	background: transparent;
	border: none;
	padding: 0;
	line-height: inherit;
	outline: none;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	color: rgba(20, 20, 20, 1);
	font-size: 87.5%;
	font-weight: normal;
	line-height: 1.5em;
	font-family: Helvetica-Neue, Helvetica, sans-serif;
}

p {
	margin: 0;
	+ p {
		margin-top: 1em;
	}
}

nav > ul {
	@extend %unstyle;
}

bossy-calendar {
	display: block;
	> table {
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;

		tbody span {
			&:before {
				content: attr(data-abbr);
			}
		}

		tr {
			vertical-align: middle;
		}

		td {
			text-align: center;
			padding: 0;
		}
	}
}

.bossy-calendar-days-day {
	font-size: 1rem;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.bossy-calendar {
	color: lightgray;
	font-size: 1rem;
}

.bossy-calendar-previous {
	button{
		width: 1em;
		height: 2em;
		position: relative;
		&:before {
			content: "<";
			display: block;
			color: blue;
			position: absolute;
			top: 0;
			right: 0;
			transition: all .5s;
		}
		&:hover:before {
			right: 100%;
		}
	}
}

.bossy-calendar-next {

	button{
		position: relative;
		width: 1em;
		height: 2em;
		&:before {
			content: ">";
			display: block;
			color: blue;
			position: absolute;
			top: 0;
			left: 0;
			transition: all .5s;
		}
		&:hover:before {
			left: 100%;
		}
	}
}

.bossy-calendar-day {

	> button {
		color: lightgray;
		font-size: 1rem;
	}

	&.day-in-month > button {
		color: gray;
	}

	> button {
		width: 3em;
		height: 3em;
		line-height: 3em;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: 0;
			height: 0;
			background-color: #33B2FF;
			margin-left: 0;
			margin-top: 0;
			box-shadow: 0 0 1px #33B2FF;
			border-radius: 1.5em;
			z-index: -1;
		}
		&:hover {
			color: #33B2FF;
			&:before {
				transition: all .5s;
				width: 3em;
				height: 3em;
				margin-left: -1.5em;
				margin-top: -1.5em;
				background-color: transparent;
				box-shadow: 0 0 1px transparent;
			}
		}
	}
}